In [3]:
import requests
import pyodbc
%matplotlib inline
from pandas.testing import assert_frame_equal
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#import statsmodels.formula.api as smf
#from sklearn.linear_model import LinearRegression
#from sklearn import metrics
#from sklearn.model_selection  import train_test_split
import numpy as np
#from scipy.stats import norm # for scientific Computing
#from scipy import stats, integrate
import matplotlib.pyplot as plt

Write a function that accepts a string and returns whether a string is palindrome or not (Do not use in built methods, slice notations [::-1]). A string is called a palindrome string if the reverse of that string is the same as the original string.

Example:-
Input: radar
Output True

Input: Radio
Output: False

In [4]:
def solutions(words):
    k=[]
    for i in words:
        if i==i[::-1]:
            k.append(True)
        else:k.append(False)
    return k
words=["hih","lol"]
print(solutions(words))

[True, True]

Write a function that accepts first_name as a parameter. The function should make an API call with the following specifications

Method: GET
URL: https://api.agify.io/
Query parameter: name

Pass the first name as value to query parameter. The API call return a JSON stating the predicted age and count (the total number of records based on which it made the prediction). The function should return the following as a String

Output of the function should be as follows 
“The predicted age for name abc is 54 based on the total record count of 79”

In [5]:
import requests
response1 = requests.get("https://api.agify.io/")
print(response1)

<Response [422]>

In [19]:
query = {'parameter': 'name'}
response = requests.get('https://api.agify.io/', params=query)
print(response.json())

{'error': "Missing 'name' parameter"}

Generic Rule for all CSV files
1.	The column names should be in lower snake case
2.	Use your inference to provide correct data type to the column values
Reviews data frame
3.	Fill null values in Reviewer’s Name column as “Anonymous”
Listing data frame
4.	Add a new Column (name it zone) based on following logic if city is Kitchener or Waterloo then “Zone A”, if city is Toronto, then “Zone B” and if City is Ottawa, then “Zone C”
Combined data frame
5.	Join listing data frame with calendar and reviews data frame (Assume join key from understanding of the data provided)
6.	On the combined data frame, filter out records where availability is “F”
7.	Filter out listings which does not have any reviews (Also add a new column called review_flag and set true when a review exists)
8.	Add a new column called Currency and assign value USD to every row
9.	Create a new column called price_in_cad which is product of 1.3 * price columns
10.	Only columns in sample output are required

In [20]:
import pyodbc
import pandas as pd

list1 = pd.read_csv(r"C:\Users\shanh\Downloads\listings.csv")
rev = pd.read_csv(r"C:\Users\shanh\Downloads\reviews.csv")
calender = pd.read_csv(r"C:\Users\shanh\Downloads\calendar.csv")
# Some other example server values are
# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
list1.columns=list1.columns.str.lower()
rev.columns=rev.columns.str.lower()

#print(rev['reviewer name'])

In [21]:
col_name='reviewer name'
#condition=rev_col.'reviewer name'=None
#rev_col.loc[rev_col.'reviewer name'="",col_name]='Anonymous'
rev['reviewer name']=rev['reviewer name'].fillna("Anonymous")
#print(rev_col1['reviewer name'])
#df['equal_or_lower_than_4?'] = df['set_of_numbers'].apply(lambda x: 'True' if x <= 4 else 'False')

#rev['reviewer name']=rev['reviewer name'].apply(lambda x:numpy.nan if x==float("nan") else x)
#newdf = df.loc[(df.origin == "JFK") & (df.carrier == "B6")]
#df2 = df[~pd.isnull(df['Courses'])]
rev2 = rev[~pd.isnull(rev['id'])]
list

list

Add a new Column (name it zone) based on following logic if city is Kitchener or Waterloo then “Zone A”, if city is Toronto, then “Zone B” and if City is Ottawa, then “Zone C” Combined data frame

#rev['reviewer name']=rev['reviewer name'].apply(lambda x:numpy.nan if x==float("nan") else x)
list1['zone']=list1['city']
df['age']=df['age'].apply(lambda x: x+3)
df['new_column'] = np.where(df['col2']<9, 'value1',
                   np.where(df['col2']<12, 'value2',
                   np.where(df['col2']<15, 'value3', 'value4')))

In [22]:
list1['Zone']=np.where((list1['city']=='Waterloo')|(list1['city']=='Kitchener'),'Zone A',
                      np.where(list1['city']=='Toronto','Zone B',
                               np.where(list1['city']=='Ottawa','Zone C','')
                              ))
#list1['zone']
rev2

,listing id,id,review description,reviewer name
0,1.0,1.0,Cute and cozy place. Perfect location to every...,John Doe
1,2.0,2.0,Kelly has a great room in a very central location,Jane Doe
2,1.0,3.0,Very spacious apartment and in a great neighbo...,Cheng Doe
3,3.0,4.0,Great and Comfortable Place,Charles Doe
4,4.0,5.0,Far from attractions,Justin Doe
5,5.0,6.0,Great view,Jung Doe
6,1.0,7.0,Too noisy,Nicholoas Doe
7,3.0,8.0,Cozy place,Anonymous
8,3.0,9.0,Unclean,Anonymous
9,5.0,10.0,The earth is like a ball.,Winston Doe

In [23]:
#Q4
def f(x):
    if x['city']=="Toronto":
        return "ZoneB"
    elif x['city']=="Waterloo" or x['city']=='Kitchener':
        return "ZoneA"
    elif x['city']=="Ottawa": return "ZoneB"
#list1['zone']=list.apply(f(list1))
#list1['zone']

In [24]:
#Q55.	Join listing data frame with calendar and reviews data frame (Assume join key from understanding of the data provided)
#df=[df[],df[],df[]]

combine=list1.join(calender.set_index('Listing ID'), on='id')
combine.columns=combine.columns.str.lower()
#user merge or concat
#combine

In [25]:
#Q6On the combined data frame, filter out records where availability is “F”
#df[(df.val > 0.5) & (df.val2 == 1)]
combine1=combine[combine.availability=='T']
#df.filter(items=['one', 'three'])

#combine1

In [26]:
#Q7Filter out listings which does not have any reviews (Also add a new column called review_flag and set true when a review exists)
#combine=combine1.join(rev.set_index('listing id','reviewer name'), on=('id','reviewer name'))
#combine2=combine1.merge(rev, left_on=['id','host name'],right_on=['id','reviewer name'], how='left',indicator=True)
combine2=combine1.merge(rev, left_on=['id','host name'],right_on=['id','reviewer name'], how='left')

rev3 = combine2[~pd.isnull(combine2['review description'])]
rev3['review_flag']=np.where(rev3['review description']==None,True,False)
rev3

C:\Users\shanh\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,id,name,city,host name,host response time,zone,date,availability,price,listing id,review description,reviewer name,review_flag
0,1,Cozy place in Heart of Toronto,Toronto,John Doe,5,Zone B,2022-02-01,T,125.0,1.0,Cute and cozy place. Perfect location to every...,John Doe,False
1,1,Cozy place in Heart of Toronto,Toronto,John Doe,5,Zone B,2022-02-02,T,125.0,1.0,Cute and cozy place. Perfect location to every...,John Doe,False
2,1,Cozy place in Heart of Toronto,Toronto,John Doe,5,Zone B,2022-02-03,T,125.0,1.0,Cute and cozy place. Perfect location to every...,John Doe,False
3,2,Cozy place in Heart of Waterloo near water front,Waterloo,Jane Doe,4,Zone A,2022-02-02,T,125.0,2.0,Kelly has a great room in a very central location,Jane Doe,False
4,2,Cozy place in Heart of Waterloo near water front,Waterloo,Jane Doe,4,Zone A,2022-02-03,T,125.0,2.0,Kelly has a great room in a very central location,Jane Doe,False
5,2,Cozy place in Heart of Waterloo near water front,Waterloo,Jane Doe,4,Zone A,2022-02-04,T,250.0,2.0,Kelly has a great room in a very central location,Jane Doe,False
6,2,Cozy place in Heart of Waterloo near water front,Waterloo,Jane Doe,4,Zone A,2022-02-05,T,250.0,2.0,Kelly has a great room in a very central location,Jane Doe,False
7,2,Cozy place in Heart of Waterloo near water front,Waterloo,Jane Doe,4,Zone A,2022-02-22,T,250.0,2.0,Kelly has a great room in a very central location,Jane Doe,False
8,2,Cozy place in Heart of Waterloo near water front,Waterloo,Jane Doe,4,Zone A,2022-02-07,T,125.0,2.0,Kelly has a great room in a very central location,Jane Doe,False
9,3,Cozy place in Heart of Ottawa near water front,Ottawa,Cheng Doe,3,Zone C,2022-06-07,T,225.0,1.0,Very spacious apartment and in a great neighbo...,Cheng Doe,False
10,3,Cozy place in Heart of Ottawa near water front,Ottawa,Cheng Doe,3,Zone C,2022-06-07,T,225.0,1.0,Very spacious apartment and in a great neighbo...,Cheng Doe,False
11,5,Cozy place in Heart of Waterloo near Universit...,Waterloo,Justin Doe,1,Zone A,2022-02-04,T,145.0,4.0,Far from attractions,Justin Doe,False
12,5,Cozy place in Heart of Waterloo near Universit...,Waterloo,Justin Doe,1,Zone A,2022-02-05,T,195.0,4.0,Far from attractions,Justin Doe,False
13,5,Cozy place in Heart of Waterloo near Universit...,Waterloo,Justin Doe,1,Zone A,2022-02-06,T,195.0,4.0,Far from attractions,Justin Doe,False
14,7,Cozy place in Heart of Toronto near Financial ...,Toronto,Nicholoas Doe,3,Zone B,2022-02-07,T,125.0,1.0,Too noisy,Nicholoas Doe,False
17,10,Cozy place in Heart of Kitchener near Conestog...,Kitchener,Winston Doe,1,Zone A,2022-02-07,T,135.0,5.0,The earth is like a ball.,Winston Doe,False

In [27]:
#Add a new column called Currency and assign value USD to every row
#Create a new column called price_in_cad which is product of 1.3 * price columns

rev3['Currency']='USD'
rev3['price_in_cad']=rev3['price']*1.3
rev3['listing id']=rev3['listing id'].astype(int)
rev3

C:\Users\shanh\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\shanh\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\shanh\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,id,name,city,host name,host response time,zone,date,availability,price,listing id,review description,reviewer name,review_flag,Currency,price_in_cad
0,1,Cozy place in Heart of Toronto,Toronto,John Doe,5,Zone B,2022-02-01,T,125.0,1,Cute and cozy place. Perfect location to every...,John Doe,False,USD,162.5
1,1,Cozy place in Heart of Toronto,Toronto,John Doe,5,Zone B,2022-02-02,T,125.0,1,Cute and cozy place. Perfect location to every...,John Doe,False,USD,162.5
2,1,Cozy place in Heart of Toronto,Toronto,John Doe,5,Zone B,2022-02-03,T,125.0,1,Cute and cozy place. Perfect location to every...,John Doe,False,USD,162.5
3,2,Cozy place in Heart of Waterloo near water front,Waterloo,Jane Doe,4,Zone A,2022-02-02,T,125.0,2,Kelly has a great room in a very central location,Jane Doe,False,USD,162.5
4,2,Cozy place in Heart of Waterloo near water front,Waterloo,Jane Doe,4,Zone A,2022-02-03,T,125.0,2,Kelly has a great room in a very central location,Jane Doe,False,USD,162.5
5,2,Cozy place in Heart of Waterloo near water front,Waterloo,Jane Doe,4,Zone A,2022-02-04,T,250.0,2,Kelly has a great room in a very central location,Jane Doe,False,USD,325.0
6,2,Cozy place in Heart of Waterloo near water front,Waterloo,Jane Doe,4,Zone A,2022-02-05,T,250.0,2,Kelly has a great room in a very central location,Jane Doe,False,USD,325.0
7,2,Cozy place in Heart of Waterloo near water front,Waterloo,Jane Doe,4,Zone A,2022-02-22,T,250.0,2,Kelly has a great room in a very central location,Jane Doe,False,USD,325.0
8,2,Cozy place in Heart of Waterloo near water front,Waterloo,Jane Doe,4,Zone A,2022-02-07,T,125.0,2,Kelly has a great room in a very central location,Jane Doe,False,USD,162.5
9,3,Cozy place in Heart of Ottawa near water front,Ottawa,Cheng Doe,3,Zone C,2022-06-07,T,225.0,1,Very spacious apartment and in a great neighbo...,Cheng Doe,False,USD,292.5
10,3,Cozy place in Heart of Ottawa near water front,Ottawa,Cheng Doe,3,Zone C,2022-06-07,T,225.0,1,Very spacious apartment and in a great neighbo...,Cheng Doe,False,USD,292.5
11,5,Cozy place in Heart of Waterloo near Universit...,Waterloo,Justin Doe,1,Zone A,2022-02-04,T,145.0,4,Far from attractions,Justin Doe,False,USD,188.5
12,5,Cozy place in Heart of Waterloo near Universit...,Waterloo,Justin Doe,1,Zone A,2022-02-05,T,195.0,4,Far from attractions,Justin Doe,False,USD,253.5
13,5,Cozy place in Heart of Waterloo near Universit...,Waterloo,Justin Doe,1,Zone A,2022-02-06,T,195.0,4,Far from attractions,Justin Doe,False,USD,253.5
14,7,Cozy place in Heart of Toronto near Financial ...,Toronto,Nicholoas Doe,3,Zone B,2022-02-07,T,125.0,1,Too noisy,Nicholoas Doe,False,USD,162.5
17,10,Cozy place in Heart of Kitchener near Conestog...,Kitchener,Winston Doe,1,Zone A,2022-02-07,T,135.0,5,The earth is like a ball.,Winston Doe,False,USD,175.5

In [28]:
#10.	Only columns in sample output are required
rev_final=rev3[['listing id','name','zone','review_flag','date','availability','price','price_in_cad']]

In [29]:
rev_final.rename(columns = {'listing id':'listing_id','name':'listing_name', 'zone':'Zone'}, inplace = True)
rev_final.columns

C:\Users\shanh\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Index(['listing_id', 'listing_name', 'Zone', 'review_flag', 'date',
       'availability', 'price', 'price_in_cad'],
      dtype='object')

CREATE TABLE Practice.dbo.DepartmentTest( [DepartmentID] smallint NOT NULL, [Name] varchar(100) NOT NULL, [GroupName] varchar(100) NOT NULL )
'listing_id', 'listing_name', 'Zone', 'review_flag', 'date',
       'availability', 'price', 'price_in_cad
CREATE TABLE Practice.dbo.aibnbfinal(listing_id int not null,listing_name varchar(255),Zone varchar(50),review_flag varchar(10),date date,avavailability varchar(5), price DECIMAL(10,2), price_in_cad DECIMAL(10,2))

In [30]:
cnxn_str = ("Driver={SQL Server Native Client 11.0};"
            "Server=LAPTOP-0VCM797I\SAM;"
            "Database=Practice;"
            "Trusted_Connection=yes;")
cnxn = pyodbc.connect(cnxn_str)
cursor = cnxn.cursor()
cursor.execute("drop table Practice.dbo.aibnbfinal")
cursor.execute("CREATE TABLE Practice.dbo.aibnbfinal(listing_id int not null,listing_name varchar(255),Zone varchar(50),review_flag varchar(10),date date,availability varchar(5), price DECIMAL(10,2), price_in_cad DECIMAL(10,2))")
# Insert Dataframe into SQL Server:
for index, row in rev_final.iterrows():
    cursor.execute("INSERT INTO Practice.dbo.aibnbfinal (listing_id, listing_name, Zone, review_flag, date,availability, price, price_in_cad) values(?,?,?,?,?,?,?,?)", row.listing_id, row.listing_name, row.Zone, row.review_flag, row.date,row.availability,row.price,row.price_in_cad)
cnxn.commit()
cursor.close()

ata = pd.read_sql("SELECT *from Practice.dbo.aibnbfinal", cnxn)
print(ata)

    listing_id                                       listing_name    Zone  \
0            1                     Cozy place in Heart of Toronto  Zone B
1            1                     Cozy place in Heart of Toronto  Zone B
2            1                     Cozy place in Heart of Toronto  Zone B
3            2   Cozy place in Heart of Waterloo near water front  Zone A
4            2   Cozy place in Heart of Waterloo near water front  Zone A
5            2   Cozy place in Heart of Waterloo near water front  Zone A
6            2   Cozy place in Heart of Waterloo near water front  Zone A
7            2   Cozy place in Heart of Waterloo near water front  Zone A
8            2   Cozy place in Heart of Waterloo near water front  Zone A
9            1     Cozy place in Heart of Ottawa near water front  Zone C
10           1     Cozy place in Heart of Ottawa near water front  Zone C
11           4  Cozy place in Heart of Waterloo near Universit...  Zone A
12           4  Cozy place in Heart of Waterloo near Universit...  Zone A
13           4  Cozy place in Heart of Waterloo near Universit...  Zone A
14           1  Cozy place in Heart of Toronto near Financial ...  Zone B
15           5  Cozy place in Heart of Kitchener near Conestog...  Zone A

   review_flag        date availability  price  price_in_cad
0            0  2022-02-01            T  125.0         162.5
1            0  2022-02-02            T  125.0         162.5
2            0  2022-02-03            T  125.0         162.5
3            0  2022-02-02            T  125.0         162.5
4            0  2022-02-03            T  125.0         162.5
5            0  2022-02-04            T  250.0         325.0
6            0  2022-02-05            T  250.0         325.0
7            0  2022-02-22            T  250.0         325.0
8            0  2022-02-07            T  125.0         162.5
9            0  2022-06-07            T  225.0         292.5
10           0  2022-06-07            T  225.0         292.5
11           0  2022-02-04            T  145.0         188.5
12           0  2022-02-05            T  195.0         253.5
13           0  2022-02-06            T  195.0         253.5
14           0  2022-02-07            T  125.0         162.5
15           0  2022-02-07            T  135.0         175.5